* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

@font-face {
    font-family: 'gotham bold';
    src: url('../fonts/Gotham-Bold.ttf');
}

@font-face {
    font-family: 'gotham book';
    src: url('../fonts/Gotham-Book.ttf');
}

